/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("../img/Background.png");
    background-attachment: scroll;
    background-size: auto;
    min-width: 1020px;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Home_About_Features_Partners_Contact_Client {
    float: none;
    font-size: 0.68727525em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    word-wrap: break-word;
    color: rgb(93, 93, 93);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 910px auto 0px;
    clear: both;
}

#MacroPoint_logo_png {
    float: left;
    width: auto;
    max-width: 400px;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin: 0px 0px 10px 25px;
    clear: both;
}

#Questions {
    float: left;
    font-size: 1.07em;
    width: 725px;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin: 10px 0px 0px 54px;
    clear: none;
    font-family: lato;
    color: black;
    font-style: normal;
    letter-spacing: -0.03em;
}

#Title {
    float: left;
    height: 170px;
    width: 100%;
    background-color: rgb(238, 176, 28);
    box-shadow: rgb(166, 166, 166) 0px 5px 5px 0px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin: 0px;
    clear: none;
}

#Required {
    float: right;
    font-size: 1.07119625em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 12px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
    font-style: italic;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin: 24px 100px 0px 0px;
    clear: none;
}

#Contact {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin: -9px 5px 0px;
    clear: right;
}

#login_png {
    float: right;
    width: auto;
    max-width: 220px;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin: 0px 25px 0px 0px;
    clear: none;
}

#SUBMIT {
    float: left;
    font-size: 1.14545875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(86, 86, 85);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 13px;
    margin-left: 16.326531%;
    clear: none;
}

#Partners {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin: -9px 125px 0px 5px;
    clear: right;
}

#Submit {
    float: left;
    height: 40px;
    width: 10%;
    border: 2px solid rgb(153, 152, 152);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 608px;
    margin-left: -25.784314%;
    clear: none;
}

#Features {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin: -9px 250px 0px 5px;
    clear: right;
}

#helpLabel {
    float: left;
    font-size: 1.07119625em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: bold;
    line-height: 12px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 21px 0px 0px 0%;
    clear: both;
}

#About {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin: 0px 376px 0px 5px;
    clear: right;
}

#helpTextBox {
    float: left;
    height: 145px;
    width: 59.97%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 21px 0px 0px 4.59%;
    clear: none;
}

#companyLabel {
    float: left;
    font-size: 1.07119625em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: bold;
    line-height: 12px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin: 23px 0px 0px 0%;
    clear: both;
}

#companyTextBox {
    float: left;
    height: 25px;
    width: 83.99%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin: 17px 0px 0px 1.13%;
    clear: none;
}

#emailLabel {
    float: left;
    font-size: 1.07119625em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: bold;
    line-height: 12px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin: 22px 0px 0px 5.11%;
    clear: none;
}

#phoneLabel {
    float: left;
    font-size: 1.07119625em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: bold;
    line-height: 12px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin: 22px 0px 0px 4.09%;
    clear: both;
}

#eMailTextBox {
    float: left;
    height: 25px;
    width: 39.86%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin: 15px 0px 0px 1.65%;
    clear: none;
}

#phoneTextBox {
    float: left;
    height: 25px;
    width: 27.94%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin: 15px 0px 0px 1.16%;
    clear: none;
}

#nameLabel {
    float: left;
    font-size: 1.07119625em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: bold;
    line-height: 12px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin: 7px 0px 0px 4.27%;
    clear: none;
}

#lastnameTextBox {
    float: left;
    height: 25px;
    width: 52.98%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin: 0px 0px 0px 3.56%;
    clear: none;
}

#firstnameTextBox {
    float: left;
    height: 25px;
    width: 27.93%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin: 0px 0px 0px 0.99%;
    clear: none;
}

#ContactUs {
    float: none;
    height: 478px;
    width: 92%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(153, 152, 152);
    box-shadow: rgba(0, 0, 0, 0.34902) 0px 5px 5px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 165px auto 0px;
    clear: none;
}

body {
    background-image:url("../img/Background.png");
    background-attachment: scroll;
    background-size: auto;
    font-family: lato;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Main {
    float: none;
    height: 1020px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 85.25%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 9px 17px 0px;
    margin-right: auto;
    max-width: 870px;
}

#Header {
    float: none;
    height: 90px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    background-image:url("../img/Header.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
}

#Nav {
    float: right;
    height: auto;
    margin: 20px 25px 10px 0px;
    clear: right;
    width: auto;
}

#QuestionsTitle {
    float: left;
    font-size: 2.95em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin: 32px 0px 0px 54px;
    clear: none;
    min-width: 450px;
    font-family: lato;
    letter-spacing: -0.03em;
}

#box {
    float: none;
    height: auto;
    margin: 48px auto 0px;
    clear: none;
    width: 75%;
}

@media only screen and (max-width: 1020px) {
   .primaryContainer {
        width: 100%;
   }

   #Main {
        margin-top: 0px;
        clear: none;
        background-color: rgb(255, 255, 255);
   }

   #Contact {
        margin-top: -9px;
        margin-bottom: 0px;
   }

   #login_png {
        clear: none;
        margin-top: 0px;
   }

   #Title {
        width: 100%;
        height: 170px;
   }

   #Questions {
        text-align: left;
        word-wrap: break-word;
        text-decoration: none;
        z-index: auto;
   }

   #ContactUs {
        clear: none;
        height: 478px;
   }

   #firstnameTextBox {
        clear: none;
        height: 25px;
   }

   #lastnameTextBox {
        clear: none;
        height: 25px;
   }

   #nameLabel {
        clear: none;
   }

   #phoneTextBox {
        clear: none;
        height: 25px;
   }

   #eMailTextBox {
        clear: none;
        height: 25px;
   }

   #phoneLabel {
        clear: both;
   }

   #emailLabel {
        clear: none;
   }

   #companyTextBox {
        clear: none;
        height: 25px;
   }

   #companyLabel {
        clear: both;
   }

   #helpTextBox {
        clear: none;
        height: 145px;
   }

   #helpLabel {
        clear: both;
   }

   #Submit {
        margin-top: 44px;
        margin-left: 82.624643%;
        clear: both;
        width: 17.372737%;
        height: 40px;
   }

   #Home_About_Features_Partners_Contact_Client {
        clear: none;
        margin-top: 267px;
   }

   #Header {
        float: none;
        height: 90px;
        margin: 0px auto;
        clear: none;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
   }

   #Nav {
        height: auto;
        width: auto;
   }

   #QuestionsTitle {
        clear: none;
        font-size: 2.95em;
        font-family: lato;
        letter-spacing: -0.03em;
   }

   #box {
        float: none;
        height: auto;
        clear: none;
        width: 75%;
   }

   #Required {
        clear: none;
   }
}

