/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
   height: auto;
   margin-left: auto;
   margin-right: auto;
   min-height: 100%;
   width: 100%;
   max-width: none;
   float: none;
   clear: none;
   background-image:url("../img/Background.png");
   background-position: 0% 0%;
   background-repeat: repeat;
   background-attachment: scroll;
   background-size: auto;
   min-width: 1020px;
}

#Home_About_Features_Partners_Contact_Client {
   float: none;
   font-size: 0.68727525em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 14px;
   word-wrap: break-word;
   color: rgb(93, 93, 93);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 6;
   margin-top: 1384px;
   margin-left: auto;
   clear: none;
   margin-bottom: 5px;
   display: block;
   min-width: 0px;
   margin-right: auto;
}

#RealTime_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 10;
   margin-top: 30px;
   margin-left: 5.167805%;
   clear: both;
}

#Aljex_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 9;
   margin-top: 30px;
   margin-left: 8.417326%;
   clear: none;
}

#LoadPilot_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 11;
   margin-top: 24px;
   margin-left: 3.686644%;
   clear: none;
}

#BlackBerry {
   float: right;
   font-size: 0.5561199375em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: 900;
   line-height: 16px;
   word-wrap: break-word;
   color: black;
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 88;
   margin-top: 10px;
   margin-left: 22px;
   clear: none;
   margin-right: 0px;
}

#Phone_BottomBorder_Rectangle {
   float: right;
   height: 3px;
   width: 97.193749%;
   background-color: rgb(75, 75, 75);
   box-shadow: rgba(0, 0, 0, 0.34902) 0px 2px 5px;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 82;
   margin-top: -8px;
   margin-left: 0px;
   clear: none;
   margin-right: 4px;
}

#BannerSubTitle {
   float: left;
   font-size: 18px;
   width: 425px;
   height: auto;
   text-align: left;
   font-weight: 900;
   line-height: 24px;
   word-wrap: break-word;
   color: rgb(4, 4, 4);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 53;
   margin-top: 15px;
   margin-left: 55px;
   clear: both;
   min-height: 0px;
}

#Mercury_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 12;
   margin-top: 21px;
   margin-left: 4.790289%;
   clear: none;
}

#Windows {
   float: left;
   font-size: 0.5561199375em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: 900;
   line-height: 16px;
   word-wrap: break-word;
   color: black;
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 87;
   margin-top: 10px;
   margin-left: 22px;
   clear: none;
}

#RequestDemo {
   float: none;
   font-size: 1.14545875em;
   width: auto;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 1em;
   word-wrap: break-word;
   color: black;
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 92;
   margin-top: 9px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#BannerTitle {
   float: left;
   font-size: 34px;
   width: 450px;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 1em;
   word-wrap: break-word;
   color: rgb(4, 4, 4);
   font-style: normal;
   letter-spacing: -0.025em;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 54;
   margin-top: 50px;
   margin-left: 55px;
   clear: none;
   min-height: 69px;
   max-width: none;
}

#MacroPoint_logo_png {
   float: left;
   width: auto;
   max-width: 400px;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 113;
   margin-top: 0px;
   margin-left: 25px;
   clear: both;
   margin-bottom: 10px;
}

#TMW_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 16;
   margin-top: 28px;
   margin-left: 5.166582%;
   clear: both;
}

#Android {
   float: left;
   font-size: 0.5561199375em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: 900;
   line-height: 16px;
   word-wrap: break-word;
   color: black;
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 86;
   margin-top: 10px;
   margin-left: 18px;
   clear: none;
}

#DemoBorder {
   float: left;
   height: 40px;
   width: 180px;
   border-top-width: 2px;
   border-right-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 2px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: rgb(0, 0, 0);
   border-right-color: rgb(0, 0, 0);
   border-bottom-color: rgb(0, 0, 0);
   border-left-color: rgb(0, 0, 0);
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 93;
   margin-top: 40px;
   margin-left: 48px;
   clear: left;
   margin-bottom: 0px;
}

#Features_Partner_Divider_Line {
   float: none;
   height: 5px;
   width: 100%;
   background-color: rgb(238, 176, 28);
   box-shadow: rgba(0, 0, 0, 0.34902) 0px 3px 5px;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: auto;
   margin-top: 26px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#Strategy_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 15;
   margin-top: 26px;
   margin-left: -72.361311%;
   clear: none;
}

#Iphone {
   float: left;
   font-size: 0.5561199375em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: 900;
   line-height: 16px;
   word-wrap: break-word;
   color: black;
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 85;
   margin-top: 10px;
   margin-left: 16px;
   clear: none;
}

#Patent {
   float: left;
   font-size: 0.916367em;
   width: 380px;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 20px;
   word-wrap: break-word;
   color: rgb(1, 1, 1);
   font-style: italic;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 91;
   margin-top: 24px;
   margin-left: 48.00000065px;
   clear: both;
}

#Documents {
   float: none;
   font-size: 0.875em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(93, 93, 93);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 26;
   margin-top: 6px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#Sylectus_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 14;
   margin-top: 19px;
   margin-left: 7.034561%;
   clear: none;
}

#Flip_Phones {
   float: left;
   font-size: 0.5561199375em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: 900;
   line-height: 16px;
   word-wrap: break-word;
   color: black;
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 84;
   margin-top: 10px;
   margin-left: 0%;
   clear: both;
}

#Pitch {
   float: left;
   font-size: 1.7678255625em;
   width: 425px;
   height: auto;
   text-align: left;
   font-weight: normal;
   line-height: 1em;
   word-wrap: break-word;
   color: rgb(3, 3, 3);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 94;
   margin-top: 45px;
   margin-left: 48.00000065px;
   clear: none;
}

#Contact {
   float: right;
   font-size: 1em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 9px;
   word-wrap: break-word;
   color: rgb(255, 255, 255);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 110;
   clear: right;
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: -9px;
}

#login_png {
   float: right;
   width: auto;
   max-width: 220px;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 105;
   clear: none;
   margin-left: 0px;
   margin-right: 25px;
   margin-top: 0px;
}

#Dashboard {
   float: none;
   font-size: 0.875em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(106, 106, 106);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 32;
   margin-top: 5px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#McLeod_logo_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 13;
   margin-top: 17px;
   margin-left: 35.870622%;
   clear: none;
}

#Phone_logos_png {
   float: none;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 89;
   margin-top: 0px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#FlipPhone_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 81;
   margin-top: 23px;
   margin-left: 0%;
   clear: none;
}

#Arrow_png2 {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 58;
   margin-top: 22px;
   margin-left: 10px;
   clear: none;
}

#Brokers {
   float: left;
   font-size: 14px;
   width: 75.672043%;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 1em;
   word-wrap: break-word;
   color: rgb(254, 252, 252);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 64;
   margin-top: 5px;
   margin-left: 24px;
   clear: both;
}

#Partners {
   float: right;
   font-size: 1em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 9px;
   word-wrap: break-word;
   color: rgb(255, 255, 255);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 107;
   clear: right;
   margin-left: 5px;
   margin-right: 125px;
   margin-top: -9px;
}

#DocumentsTitle {
   float: none;
   font-size: 1em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: 900;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(240, 175, 27);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 27;
   margin-top: 16px;
   margin-left: auto;
   clear: none;
   min-width: 0px;
   margin-right: auto;
}

#Partners_Rectangle {
   float: none;
   height: 200px;
   width: 93%;
   border-top-width: 2px;
   border-right-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 2px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: rgb(161, 161, 161);
   border-right-color: rgb(161, 161, 161);
   border-bottom-color: rgb(161, 161, 161);
   border-left-color: rgb(161, 161, 161);
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 17;
   margin-top: 55px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   margin-bottom: 0px;
}

#iPhone_png {
   float: right;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 80;
   margin-top: -228px;
   margin-left: 0px;
   clear: both;
   margin-right: 5px;
}

#CarriersTitle {
   float: left;
   font-size: 1.1875em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 16px;
   word-wrap: break-word;
   color: rgb(254, 252, 252);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 60;
   margin-top: 20px;
   margin-left: 24px;
   clear: both;
   display: block;
}

#Arrow_png {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 63;
   margin-top: 32px;
   margin-left: 10px;
   clear: none;
}

#Shippers {
   float: left;
   font-size: 14px;
   width: 210px;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 1em;
   word-wrap: break-word;
   color: rgb(254, 252, 252);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 69;
   margin-top: 5px;
   margin-left: 24px;
   clear: both;
}

#Features {
   float: right;
   font-size: 1em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 9px;
   word-wrap: break-word;
   color: rgb(255, 255, 255);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 109;
   clear: right;
   margin-left: 5px;
   margin-right: 250px;
   margin-top: -9px;
}

#FreeTrial {
   float: left;
   font-size: 1.3749754375em;
   width: 99.790841%;
   height: auto;
   text-align: center;
   font-weight: normal;
   line-height: 1em;
   word-wrap: break-word;
   color: rgb(1, 1, 1);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 19;
   margin-top: 12px;
   margin-left: 0%;
   clear: none;
}

#Pitch_Background_Rectangle {
   float: left;
   height: 325px;
   width: 93%;
   border-top-width: 2px;
   border-right-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 2px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: rgb(104, 104, 104);
   border-right-color: rgb(104, 104, 104);
   border-bottom-color: rgb(104, 104, 104);
   border-left-color: rgb(104, 104, 104);
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 75;
   margin-top: 0px;
   margin-left: 30.00000036px;
   clear: none;
   margin-right: 0px;
   max-width: none;
   background-color: rgb(255, 255, 255);
   overflow-y: auto;
   overflow-x: auto;
   box-shadow: rgb(166, 166, 166) 0px 5px 5px 0px;
}

#BrokersTitle {
   float: left;
   font-size: 1.1875em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 16px;
   word-wrap: break-word;
   color: rgb(254, 252, 252);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 65;
   margin-top: 20px;
   margin-left: 24px;
   clear: both;
}

#Arrow_png1 {
   float: left;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 68;
   margin-top: 22px;
   margin-left: 10px;
   clear: none;
}

#About {
   float: right;
   font-size: 1em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 9px;
   word-wrap: break-word;
   color: rgb(255, 255, 255);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 108;
   clear: right;
   margin-left: 5px;
   margin-right: 376px;
   margin-top: 0px;
}

#DashboardTitle {
   float: none;
   font-size: 1em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: 900;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(240, 175, 27);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 33;
   margin-top: 20px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#FreeTrial_Rectangle {
   float: left;
   height: 44px;
   width: 78.995043%;
   background-color: rgb(255, 255, 255);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 18;
   margin-top: -24px;
   margin-left: 10.581969%;
   clear: none;
}

#TruckDetection {
   float: none;
   font-size: 0.875em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(93, 93, 93);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 29;
   margin-top: 5px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#TruckDetectionTitle {
   float: none;
   font-size: 1em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: 900;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(240, 175, 27);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 30;
   margin-top: 31px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#TruckDetection_icon_png {
   float: none;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 31;
   margin-top: 20px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#Dashboard_icon_png {
   float: none;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 34;
   margin-top: 20px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#Documents_icon_png {
   float: none;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 28;
   margin-top: 20px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#EventStatus {
   float: none;
   font-size: 0.875em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(93, 93, 93);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 35;
   margin-top: 5px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#_2WayMessaging {
   float: none;
   font-size: 0.875em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(93, 93, 93);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 38;
   margin-top: 5px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#LocationUpdates {
   float: none;
   font-size: 0.875em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: bold;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(106, 106, 106);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 41;
   margin-top: 5px;
   margin-left: auto;
   clear: none;
   min-width: 0px;
   margin-right: auto;
}

#EventStatusTitle {
   float: none;
   font-size: 1em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: 900;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(240, 175, 27);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 36;
   margin-top: 20px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#_2WayMessagingTitle {
   float: none;
   font-size: 1em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: 900;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(240, 175, 27);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 39;
   margin-top: 18px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
   min-width: 0px;
}

#LocationUpdatesTitle {
   float: none;
   font-size: 1em;
   width: 100%;
   height: auto;
   text-align: center;
   font-weight: 900;
   line-height: 18px;
   word-wrap: break-word;
   color: rgb(240, 175, 27);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 42;
   margin-top: 22px;
   margin-left: auto;
   clear: none;
   min-width: 0px;
   margin-right: auto;
}

#LocationUpdates_icon_png {
   float: none;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 43;
   margin-top: 28px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#EventStatus_icon_png {
   float: none;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 37;
   margin-top: 20px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#_2WayMessaging_icon_png {
   float: none;
   width: auto;
   max-width: 100%;
   height: auto;
   color: rgb(0, 0, 0);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 40;
   margin-top: 20px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#BottomDivider_Line {
   float: none;
   height: 1px;
   width: 730px;
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 0px;
   border-left-width: 1px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: rgb(104, 104, 104);
   border-right-color: rgb(104, 104, 104);
   border-bottom-color: rgb(104, 104, 104);
   border-left-color: rgb(104, 104, 104);
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 44;
   margin-top: 15px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#CheckCallTitle {
   float: none;
   font-size: 1.7678255625em;
   width: 730px;
   height: auto;
   text-align: center;
   font-weight: normal;
   line-height: 1em;
   word-wrap: break-word;
   color: black;
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 45;
   margin-top: 15px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#TopDivider_Line {
   float: none;
   height: 1px;
   width: 730px;
   border-top-width: 1px;
   border-right-width: 1px;
   border-bottom-width: 0px;
   border-left-width: 1px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: rgb(104, 104, 104);
   border-right-color: rgb(104, 104, 104);
   border-bottom-color: rgb(104, 104, 104);
   border-left-color: rgb(104, 104, 104);
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 46;
   margin-top: 180px;
   margin-left: auto;
   clear: none;
   margin-right: auto;
}

#Features1 {
   float: left;
   height: 646px;
   width: 100%;
   background-color: rgb(241, 239, 239);
   position: relative;
   top: 0px;
   left: 0px;
   z-index: auto;
   clear: both;
   max-width: none;
   margin-top: 0px;
   margin-left: 0%;
   overflow-x: visible;
   overflow-y: visible;
   display: block;
}

#LinksBackground_Rectangle {
   float: right;
   height: 250px;
   width: 280px;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 56;
   margin-top: -119px;
   margin-left: 0px;
   clear: none;
   background-color: rgba(0, 0, 0, 0.8);
   margin-right: 64px;
}

#ShippersTitle {
   float: left;
   font-size: 1.1875em;
   width: auto;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 16px;
   word-wrap: break-word;
   color: rgb(254, 252, 252);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 70;
   margin-top: 30px;
   margin-left: 24.00000129px;
   clear: none;
   font-family: lato;
}

#Carriers {
   float: left;
   font-size: 14px;
   width: 84.156586%;
   height: auto;
   text-align: left;
   font-weight: bold;
   line-height: 1em;
   word-wrap: break-word;
   color: rgb(254, 252, 252);
   font-style: normal;
   letter-spacing: normal;
   text-decoration: none;
   font-family: lato;
   position: relative;
   top: 0px;
   left: 0px;
   z-index: 59;
   margin-top: 5px;
   margin-left: 24px;
   clear: both;
}

#Header {
   float: none;
   height: 90px;
   clear: none;
   width: 100%;
   background-image:url("../img/Header.png");
   background-position: 50% 0%;
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
   position: relative;
   top: 0px;
   left: 0px;
   margin-left: auto;
   max-width: none;
   display: block;
   margin-top: 0px;
   margin-right: auto;
   min-width: 0px;
}

body {
   font-family: lato;
   background-image:url("../img/Background.png");
   background-position: 0% 0%;
   background-repeat: repeat;
   background-attachment: scroll;
   background-size: auto;
}

#box {
   float: right;
   height: auto;
   margin-left: 0px;
   margin-top: 20px;
   clear: right;
   width: auto;
   margin-right: 25px;
   margin-bottom: 10px;
}

#Title {
   float: left;
   height: 425px;
   margin-left: 0.06465517%;
   margin-top: 0px;
   clear: none;
   width: 100%;
   background-image:url("../img/Banner.png");
   background-position: 50% 0%;
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: cover;
   max-width: none;
   position: relative;
   top: 0px;
   left: 0px;
   display: block;
}

#Partners1 {
   float: left;
   height: 312px;
   margin-left: -0.1%;
   margin-top: 0px;
   clear: both;
   width: 100%;
   max-width: none;
   display: block;
   position: relative;
   min-width: 0px;
   min-height: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
}

#box8 {
   float: right;
   height: auto;
   margin-left: 0px;
   margin-top: -176px;
   clear: none;
   width: 255px;
   margin-right: 30px;
}

#box7 {
   float: none;
   height: auto;
   margin-left: auto;
   margin-top: 25px;
   clear: none;
   width: 255px;
   margin-right: auto;
}

#box6 {
   float: left;
   height: auto;
   margin-left: 30px;
   margin-top: 25px;
   clear: none;
   width: 255px;
}

#box3 {
   float: left;
   height: auto;
   margin-left: 30px;
   margin-top: 15px;
   clear: none;
   width: 255px;
}

#box4 {
   float: none;
   height: auto;
   margin-left: auto;
   margin-top: 15px;
   clear: none;
   width: 254px;
   margin-right: auto;
}

#box5 {
   float: right;
   height: auto;
   margin-left: 0px;
   margin-top: -160px;
   clear: none;
   width: 255px;
   margin-right: 30px;
}

#box2 {
   float: right;
   height: auto;
   margin-left: 0px;
   margin-top: 10px;
   clear: right;
   width: 275px;
   position: relative;
   top: 0px;
   left: 0px;
   margin-right: 35px;
}

#box1 {
   float: right;
   height: auto;
   margin-left: 0px;
   margin-top: -105px;
   clear: none;
   width: 250px;
   position: relative;
   top: 0px;
   left: 0px;
   margin-right: 45px;
}

#Main {
   float: none;
   height: 1493px;
   margin-left: auto;
   margin-top: 0px;
   clear: none;
   width: 85.249694%;
   margin-right: auto;
   box-shadow: rgb(0, 0, 0) 0px 9px 17px 0px;
   max-width: 870px;
   background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1020px) {
   #Header {
       max-width: none;
       width: 100%;
       height: 90px;
       display: block;
   }

   #Main {
       width: 85.249694%;
   }

   #Home_About_Features_Partners_Contact_Client {
       margin-top: 1384px;
       clear: none;
       width: 100%;
   }

   #Partners1 {
       width: 100%;
   }

   #Title {
       width: 100%;
       height: 425px;
       display: block;
   }

   #Features1 {
       width: 100%;
       height: 646px;
   }

   .primaryContainer {
       width: 100%;
   }

   #Partners_Rectangle {
       height: 200px;
   }

   #FreeTrial_Rectangle {
       width: 78.993767%;
       height: 44px;
   }

   #FreeTrial {
       width: 99.788599%;
   }
}

