/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#Home_About_Features_Partners_Contact_Client {
    float: left;
    font-size: 0.68727525em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    word-wrap: break-word;
    color: rgb(93, 93, 93);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 42.71875px;
    margin-left: 20.598389%;
    clear: none;
}

#Footer_Rectangle {
    float: left;
    height: 80.71875px;
    width: 85.196078%;
    background-color: rgb(192, 192, 192);
    background-image:-webkit-linear-gradient(0deg,rgb(192,192,192) 0%,rgb(255,255,255) 100%);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 265.28125px;
    margin-left: -81.764706%;
    clear: none;
}

#RealTime_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 37px;
    margin-left: -93.467337%;
    clear: none;
}

#Aljex_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 30px;
    margin-left: -40.201005%;
    clear: none;
}

#Features_Partner_Divider_Line {
    float: left;
    height: 5px;
    width: 85.196078%;
    background-color: rgb(238, 176, 28);
    box-shadow: rgba(0, 0, 0, 0.34902) 0px 3px 5px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 499px;
    margin-left: -85.193015%;
    clear: none;
}

#LoadPilot_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 24px;
    margin-left: -65.326633%;
    clear: none;
}

#Temperature {
    float: left;
    font-size: 1em;
    width: 29.574223%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 25;
    margin-top: 16px;
    margin-left: 1.952675%;
    clear: none;
}

#textspan10 {
    float: none;
    font-size: 1em;
    line-height: 18px;
    color: rgb(240, 175, 27);
    font-style: normal;
    font-weight: 900;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan11 {
    float: none;
    font-size: 0.875em;
    line-height: 18px;
    color: rgb(93, 93, 93);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#Mercury_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 22px;
    margin-left: 79.522613%;
    clear: both;
}

#Dashboard {
    float: left;
    font-size: 1em;
    width: 27.963176%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin-top: 16px;
    margin-left: -62.257264%;
    clear: none;
}

#textspan8 {
    float: none;
    font-size: 1em;
    line-height: 18px;
    color: rgb(240, 175, 27);
    font-style: normal;
    font-weight: 900;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan9 {
    float: none;
    font-size: 0.875em;
    line-height: 18px;
    color: rgb(106, 106, 106);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#BlackBerry {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 80;
    margin-top: 10px;
    margin-left: 2.237966%;
    clear: none;
}

#Phone_BottomBorder_Rectangle {
    float: left;
    height: 3px;
    width: 23.821998%;
    background-color: rgb(75, 75, 75);
    box-shadow: rgba(0, 0, 0, 0.34902) 0px 2px 5px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 74;
    margin-top: 577px;
    margin-left: -33.549326%;
    clear: none;
}

#BannerSubTitle {
    float: left;
    font-size: 1.125em;
    width: 43.803615%;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 24px;
    word-wrap: break-word;
    color: rgb(4, 4, 4);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin-top: 230px;
    margin-left: -79.137561%;
    clear: none;
    min-height: 0px;
}

#Background_png {
    float: left;
    width: 100%;
    max-width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    left: -0.015625px;
    z-index: 3;
    clear: none;
    min-height: 0px;
}

#TMW_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 29px;
    margin-left: -91.582915%;
    clear: none;
}

#TruckDetection {
    float: left;
    font-size: 1em;
    width: 30.264672%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin-top: 15px;
    margin-left: -9.551208%;
    clear: none;
}

#textspan6 {
    float: none;
    font-size: 1em;
    line-height: 18px;
    color: rgb(240, 175, 27);
    font-style: normal;
    font-weight: 900;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan7 {
    float: none;
    font-size: 0.875em;
    line-height: 18px;
    color: rgb(93, 93, 93);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#Windows {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 79;
    margin-top: 10px;
    margin-left: 2.608696%;
    clear: none;
}

#RequestDemo {
    float: left;
    font-size: 1.14545875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 84;
    margin-top: 14px;
    margin-left: 8.602151%;
    clear: none;
}

#BannerTitle {
    float: left;
    font-size: 2.1423925em;
    width: 43.609069%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    color: rgb(4, 4, 4);
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin-top: 146px;
    margin-left: -78.941483%;
    clear: none;
}

#Strategy_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 260px;
    margin-left: 26.467204%;
    clear: both;
}

#TruckDetection_icon_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 22px;
    margin-left: -38.895282%;
    clear: none;
}

#Android {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin-top: 10px;
    margin-left: 2.482531%;
    clear: none;
}

#DemoBorder {
    float: left;
    height: 40px;
    width: 18.627451%;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 85;
    margin-top: 560px;
    margin-left: -77.570466%;
    clear: none;
}

#MacroPoint_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 105;
    margin-top: 39px;
    margin-left: -82.665441%;
    clear: none;
}

#Sylectus_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 17px;
    margin-left: 7.035176%;
    clear: none;
}

#Temperature_icon_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 18px;
    margin-left: 60.759494%;
    clear: none;
}

#Iphone {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 77;
    margin-top: 10px;
    margin-left: 1.987578%;
    clear: none;
}

#Patent {
    float: left;
    font-size: 0.916367em;
    width: 51.801242%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
    color: rgb(1, 1, 1);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 83;
    margin-top: -124px;
    margin-left: -60%;
    clear: none;
}

#Banner_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin-top: 24px;
    margin-left: -85.3125%;
    clear: none;
}

#McLeod_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin-top: 15px;
    margin-left: 52.135678%;
    clear: both;
}

#Dashboard_icon_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 29;
    margin-top: 16px;
    margin-left: 14.039125%;
    clear: both;
}

#Flip_Phones {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin-top: 10px;
    margin-left: 60%;
    clear: both;
}

#Pitch {
    float: left;
    font-size: 1.7678255625em;
    width: 53.390916%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    color: rgb(3, 3, 3);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 86;
    margin-top: 54px;
    margin-left: -86.459627%;
    clear: none;
}

#Carriers {
    float: left;
    font-size: 0.9268665625em;
    width: 85.713486%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    color: rgb(254, 252, 252);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin-top: 75px;
    margin-left: 8.243728%;
    clear: both;
}

#Header_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 92;
    margin-top: 0px;
    margin-left: 7.371324%;
    clear: none;
}

#Partners_Rectangle {
    float: left;
    height: 200px;
    width: 78.431373%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 68px;
    margin-left: -70.389093%;
    clear: none;
}

#EventStatus {
    float: left;
    font-size: 1em;
    width: 30.032724%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 32;
    margin-top: 17px;
    margin-left: 3.222094%;
    clear: none;
}

#textspan4 {
    float: none;
    font-size: 1em;
    line-height: 18px;
    color: rgb(240, 175, 27);
    font-style: normal;
    font-weight: 900;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan5 {
    float: none;
    font-size: 0.875em;
    line-height: 18px;
    color: rgb(93, 93, 93);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#Phone_logos_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 81;
    margin-top: 261px;
    margin-left: 62.732919%;
    clear: none;
}

#FlipPhone_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 73;
    margin-top: 379px;
    margin-left: -33.353248%;
    clear: none;
}

#Arrow_png2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin-top: 251px;
    margin-left: -22.274816%;
    clear: none;
}

#Brokers {
    float: left;
    font-size: 0.9268665625em;
    width: 23.445159%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    color: rgb(254, 252, 252);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin-top: 205px;
    margin-left: -31.979167%;
    clear: none;
}

#Contact {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 102;
    margin-top: 54px;
    margin-left: -11.390931%;
    clear: none;
}

#login_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 97;
    margin-top: 0px;
    margin-left: -11.979167%;
    clear: none;
}

#FreeTrial {
    float: left;
    font-size: 1.3749754375em;
    width: 84.412296%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    color: rgb(1, 1, 1);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: -11px;
    margin-left: 7.922425%;
    clear: none;
}

#_2WayMessaging {
    float: left;
    font-size: 1em;
    width: 27.733026%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 30;
    margin-top: 17px;
    margin-left: 4.60479%;
    clear: none;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 18px;
    color: rgb(240, 175, 27);
    font-style: normal;
    font-weight: 900;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan3 {
    float: none;
    font-size: 0.875em;
    line-height: 18px;
    color: rgb(93, 93, 93);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#iPhone_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 72;
    margin-top: 358px;
    margin-left: -23.255208%;
    clear: none;
}

#CarriersTitle {
    float: left;
    font-size: 1.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: rgb(254, 252, 252);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin-top: 250px;
    margin-left: -31.881127%;
    clear: none;
}

#Arrow_png1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    margin-top: 184px;
    margin-left: -22.76348%;
    clear: none;
}

#Shippers {
    float: left;
    font-size: 0.9268665625em;
    width: 22.25337%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    color: rgb(254, 252, 252);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin-top: 138px;
    margin-left: -31.979167%;
    clear: none;
}

#LinksBackground_Rectangle {
    float: left;
    height: 284px;
    width: 27.352941%;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin-top: 87px;
    margin-left: -34.234069%;
    clear: none;
}

#Partners {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 99;
    margin-top: 54px;
    margin-left: -22.958027%;
    clear: none;
}

#FreeTrial_Rectangle {
    float: left;
    height: 44px;
    width: 62.25337%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 45px;
    margin-left: 18.820466%;
    clear: both;
}

#LocationUpdates {
    float: left;
    font-size: 1em;
    width: 30.032724%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 17px;
    margin-left: 3.682394%;
    clear: both;
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 18px;
    color: rgb(240, 175, 27);
    font-style: normal;
    font-weight: 900;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan1 {
    float: none;
    font-size: 0.875em;
    line-height: 18px;
    color: rgb(106, 106, 106);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#Pitch_Background_Rectangle {
    float: left;
    height: 327px;
    width: 79.313725%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(104, 104, 104);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin-top: 333px;
    margin-left: -82.372855%;
    clear: none;
}

#BrokersTitle {
    float: left;
    font-size: 1.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: rgb(254, 252, 252);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 57;
    margin-top: 51px;
    margin-left: 8.243728%;
    clear: both;
}

#Arrow_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 30px;
    margin-left: 2.867384%;
    clear: none;
}

#Features {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 101;
    margin-top: 54px;
    margin-left: -34.528186%;
    clear: none;
}

#LocationUpdates_icon_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 35;
    margin-top: 74px;
    margin-left: -72.497123%;
    clear: none;
}

#ShippersTitle {
    float: left;
    font-size: 1.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: rgb(254, 252, 252);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin-top: 28px;
    margin-left: 8.602151%;
    clear: none;
}

#About {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;
    margin-top: 54px;
    margin-left: -44.430147%;
    clear: none;
}

#EventStatus_icon_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin-top: 68px;
    margin-left: 24.395857%;
    clear: none;
}

#_2WayMessaging_icon_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin-top: 68px;
    margin-left: 46.260069%;
    clear: both;
}

#BottomDivider_Line {
    float: left;
    height: 4px;
    width: 71.666667%;
    border: 2px solid rgb(104, 104, 104);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 36;
    margin-top: 114px;
    margin-left: -79.016544%;
    clear: none;
}

#CheckCallText {
    float: left;
    font-size: 1.7678255625em;
    width: 82.945555%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 45px;
    margin-left: 8.583861%;
    clear: none;
}

#TopDivider_Line {
    float: left;
    height: 4px;
    width: 71.666667%;
    border: 2px solid rgb(104, 104, 104);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 50px;
    margin-left: -79.016544%;
    clear: none;
}

#Features_Border_Rectangle {
    float: left;
    height: 476px;
    width: 85.196078%;
    background-color: rgb(241, 239, 239);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 26px;
    margin-left: 7.349877%;
    clear: both;
}

body {
    font-family: lato;
}

