/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("../img/Background.png");
    background-attachment: scroll;
    background-size: auto;
    min-width: 1020px;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Home_About_Features_Partners_Contact_Client {
    float: none;
    font-size: 0.68727525em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    word-wrap: break-word;
    color: rgb(93, 93, 93);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 200px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#PayPerLoad {
    float: none;
    font-size: 0.875em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(93, 93, 93);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 5px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    min-width: 0px;
}

#SeamlessIntegration {
    float: none;
    font-size: 0.875em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(93, 93, 93);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 5px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    min-width: 0px;
}

#MobileCompatibility {
    float: none;
    font-size: 0.875em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(93, 93, 93);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 5px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    min-width: 0px;
}

#BlackBerry {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 36;
    margin-top: 0px;
    margin-left: 20px;
    clear: none;
}

#Phone_BottomBorder_Rectangle {
    float: left;
    height: 3px;
    width: 99.60443%;
    background-color: rgb(75, 75, 75);
    box-shadow: rgba(0, 0, 0, 0.34902) 0px 2px 5px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 30;
    margin-top: 219px;
    margin-left: -100%;
    clear: none;
}

#Page3 {
    float: none;
    font-size: 0.7069095em;
    width: 12px;
    height: 12px;
    text-align: left;
    font-weight: bold;
    line-height: 15px;
    word-wrap: break-word;
    color: rgb(240, 175, 27);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin: 0px auto 2px;
    clear: none;
    display: block;
}

#DeployOnDemand {
    float: none;
    font-size: 0.875em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(106, 106, 106);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 5px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    min-width: 0px;
}

#Windows {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 35;
    margin-top: 0px;
    margin-left: 25px;
    clear: none;
}

#RequestDemo {
    float: left;
    font-size: 1.14545875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin-top: 14px;
    margin-left: 8.602151%;
    clear: none;
}

#Page2 {
    float: none;
    font-size: 0.7069095em;
    width: 12px;
    height: 12px;
    text-align: left;
    font-weight: bold;
    line-height: 15px;
    word-wrap: break-word;
    color: rgb(240, 175, 27);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 54;
    margin: 0px auto 2px;
    clear: none;
    padding: 0px;
    display: block;
}

#MacroPoint_logo_png {
    float: left;
    width: auto;
    max-width: 400px;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 84;
    margin: 0px 0px 10px 30px;
    clear: both;
}

#PayPerLoadTitle {
    float: none;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(240, 175, 27);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 20px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    min-width: 0px;
}

#Android {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 0px;
    margin-left: 20px;
    clear: none;
}

#DemoBorder {
    float: right;
    height: 40px;
    width: 23.605811%;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin-top: 20px;
    margin-left: 0px;
    clear: right;
    margin-right: 245px;
}

#Page1 {
    float: none;
    font-size: 0.7069095em;
    width: 12px;
    height: 12px;
    text-align: left;
    font-weight: bold;
    line-height: 15px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin: 2px auto;
    clear: none;
    padding: 0px;
    display: block;
}

#MeetMacroPoint {
    float: left;
    font-size: 1.07119625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 64;
    margin-top: 10px;
    margin-left: 54px;
    clear: both;
}

#SeamlessIntegrationTitle {
    float: none;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(240, 175, 27);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin-top: 18px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    min-width: 0px;
}

#Iphone {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin-top: 0px;
    margin-left: 10px;
    clear: none;
}

#Patent {
    float: right;
    font-size: 0.916367em;
    width: 380px;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
    color: rgb(1, 1, 1);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin-top: 15px;
    margin-left: 0px;
    clear: both;
    margin-right: 50px;
}

#InActivePage1 {
    float: left;
    height: 16px;
    width: 27.192989%;
    border: 2px solid rgb(240, 175, 27);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    margin-top: 0px;
    margin-left: 5px;
    clear: none;
}

#MobileCompatibilityTitle {
    float: none;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(240, 175, 27);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin: 18px auto 0px;
    clear: none;
    min-width: 0px;
}

#Flip_Phones {
    float: left;
    font-size: 0.5561199375em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: 16px;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 32;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#Pitch1 {
    float: right;
    font-size: 1.7678255625em;
    width: 400px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    color: rgb(3, 3, 3);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 75px;
    margin-left: 0px;
    clear: none;
    margin-right: 32px;
}

#InActivePage {
    float: left;
    height: 16px;
    width: 27.192989%;
    border: 2px solid rgb(240, 175, 27);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 53;
    margin-top: 0px;
    margin-left: 5px;
    clear: none;
}

#Contact {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 81;
    margin: -9px 5px 0px;
    clear: right;
}

#login_png {
    float: right;
    width: auto;
    max-width: 220px;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin: 0px 25px 0px 0px;
    clear: none;
}

#DeployOnDemandTitle {
    float: none;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 18px;
    word-wrap: break-word;
    color: rgb(240, 175, 27);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 27px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    min-width: 0px;
}

#Phone_logos_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 45px;
    margin-left: 68px;
    clear: both;
}

#FlipPhone_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 29;
    margin-top: 20px;
    margin-left: -99.182489%;
    clear: none;
}

#ActivePage {
    float: left;
    height: 16px;
    width: 16px;
    background-color: rgb(240, 175, 27);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin-top: 0px;
    margin-left: 0px;
    clear: none;
}

#Partners {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin-top: -9px;
    margin-left: 5px;
    clear: right;
    margin-right: 125px;
}

#MeetMacroPointTitle {
    float: left;
    font-size: 2.9457896875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    color: black;
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 65;
    margin-top: 32px;
    margin-left: 54px;
    clear: none;
}

#PayPerLoad_icon_png {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 9px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#iPhone_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin-top: 0px;
    margin-left: 43.037975%;
    clear: none;
}

#Download_PDF {
    float: left;
    font-size: 0.875em;
    width: 12.283697%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    word-wrap: break-word;
    color: rgb(2, 0, 2);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin: 10px 0px 0px 48px;
    clear: none;
}

#Features {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 80;
    margin-top: -9px;
    margin-left: 5px;
    clear: right;
    margin-right: 250px;
}

#SeamlessIntegration_icon_png {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 6px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Pitch {
    float: left;
    height: 327px;
    width: 90.39011%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(104, 104, 104);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 20px;
    margin-left: 3.245225%;
    clear: none;
}

#Arrow_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 47;
    margin-top: 15px;
    margin-left: 7px;
    clear: none;
}

#About {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 79;
    margin: 0px 376px 0px 5px;
    clear: right;
}

#DeployOnDemand_icon_png {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#CaseStudy {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin-top: 10px;
    margin-left: 400px;
    clear: both;
}

#textspan3 {
    float: none;
    font-size: 0.875em;
    line-height: 20px;
    color: rgb(240, 175, 27);
    font-style: italic;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#MobileCompatibility_icon_png {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#PDF_icon_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin-top: 12px;
    margin-left: 5px;
    clear: none;
}

#MacroPoint {
    float: left;
    font-size: 1em;
    width: 320px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 49;
    margin: 10px 0px 0px 25px;
    clear: none;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 20px;
    color: black;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#SmokeyPoint_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 57;
    margin-top: 10px;
    margin-left: 25px;
    clear: none;
}

#MacroPointTitle {
    float: left;
    font-size: 1em;
    width: 65.100358%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin: 42px 0px 0px 25px;
    clear: none;
}

#textspan {
    float: none;
    font-size: 1.75em;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan1 {
    float: none;
    font-size: 0.875em;
    line-height: 20px;
    color: rgb(240, 175, 27);
    font-style: italic;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#McLeod_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin: 32px 0px 0px 54px;
    clear: none;
}

body {
    font-family: lato;
    background-image:url("../img/Background.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Main {
    float: none;
    height: 1280px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 85.249694%;
    max-width: 870px;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 9px 17px 0px;
    display: block;
}

#Nav {
    float: right;
    height: auto;
    margin: 20px 25px 10px 0px;
    clear: right;
    width: auto;
}

#Header {
    float: none;
    height: 90px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    background-image:url("../img/Header.png");
    background-attachment: scroll;
    background-size: cover;
    min-width: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
}

#Title {
    float: none;
    height: 170px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-width: 0px;
    background-color: rgb(238, 176, 28);
    box-shadow: rgb(166, 166, 166) 0px 5px 5px 0px;
}

#PartnerContent {
    float: none;
    height: auto;
    margin: 0px auto;
    clear: none;
    width: auto;
    min-width: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}

#PageControl {
    float: left;
    height: auto;
    margin-left: 72.451528%;
    margin-top: 10px;
    clear: both;
    width: 6.555138%;
}

#Phones {
    float: left;
    height: auto;
    margin-left: -82.571742%;
    margin-top: 46px;
    clear: none;
    width: 27.255575%;
}

#Feature {
    float: left;
    height: auto;
    margin: 0px 0px 0px 15px;
    clear: none;
    width: 200px;
}

#Feature2 {
    float: left;
    height: auto;
    margin-left: 10px;
    margin-top: 0px;
    clear: none;
    width: 200px;
}

#Feature3 {
    float: left;
    height: auto;
    margin: 0px 0px 0px 10px;
    clear: none;
    width: 200px;
}

#Feature4 {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 200px;
    margin-right: 15px;
}

#Features1 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 400px;
    clear: none;
    width: 100%;
    min-width: 0px;
    margin-right: auto;
}

#box {
    float: left;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
    clear: both;
    width: auto;
}

