/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:url("../img/Background.png");
    background-attachment: scroll;
    background-size: auto;
    min-width: 1020px;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Home_About_Features_Partners_Contact_Client {
    float: none;
    font-size: 0.68727525em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    word-wrap: break-word;
    color: rgb(93, 93, 93);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 505px auto 0px;
    clear: none;
}

#RealTime_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 24px;
    margin-left: 18px;
    clear: both;
}

#Aljex_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 18px;
    margin-left: 62px;
    clear: none;
}

#QuoteSignature {
    float: left;
    font-size: 1em;
    width: 60%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 5px;
    margin-left: 24px;
    clear: both;
}

#textspan1 {
    float: none;
    font-size: 0.8125em;
    line-height: 17px;
    color: rgb(238, 176, 28);
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#LoadPilot_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 15px;
    margin-left: 36px;
    clear: none;
}

#Quote1 {
    float: left;
    font-size: 1em;
    width: 88%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 40px;
    margin-left: 24px;
    clear: none;
}

#textspan {
    float: none;
    font-size: 1.1875em;
    line-height: 24px;
    color: rgb(238, 176, 28);
    font-style: italic;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#PartnersTitle {
    float: left;
    font-size: 2.95em;
    width: 803.734375px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin: 32px 0px 0px 54px;
    clear: none;
    letter-spacing: -0.03em;
}

#Mercury_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 12px;
    margin-left: 36px;
    clear: none;
}

#Partners1 {
    float: left;
    font-size: 1.07119625em;
    width: 92.431403%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    word-wrap: break-word;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 64;
    margin-top: 10px;
    margin-left: 54px;
    clear: none;
    color: black;
    font-style: normal;
    letter-spacing: -0.025em;
    text-decoration: none;
    font-family: lato;
}

#MacroPoint_logo_png {
    float: left;
    width: auto;
    max-width: 400px;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin: 0px 0px 10px 30px;
    clear: both;
}

#TMW_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 24px;
    margin-left: 28px;
    clear: none;
}

#Quote {
    float: left;
    height: 250px;
    width: 515px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 0px;
    margin-left: 32px;
    clear: none;
}

#Strategy_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 20px;
    margin-left: 6.862244%;
    clear: none;
}

#Sylectus_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 18px;
    margin-left: 7.031342%;
    clear: none;
}

#Contact {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin: -9px 5px 0px;
    clear: right;
}

#login_png {
    float: right;
    width: auto;
    max-width: 220px;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin: 0px 25px 0px 0px;
    clear: none;
}

#McLeod_logo_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 16px;
    margin-left: 8.030202%;
    clear: none;
}

#Partners {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin: -9px 125px 0px 5px;
    clear: right;
}

#PartnerLogos {
    float: none;
    height: 200px;
    width: 91.847406%;
    border: 2px solid rgb(161, 161, 161);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin-top: 48px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

#Features {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin: -9px 250px 0px 5px;
    clear: right;
}

#FreeTrial {
    float: left;
    font-size: 1.3749754375em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 15px;
    word-wrap: break-word;
    color: rgb(1, 1, 1);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 16px;
    margin-left: 0%;
    clear: none;
}

#About {
    float: right;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 9px;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin: 0px 376px 0px 5px;
    clear: right;
}

#FreeTrialBorder {
    float: none;
    height: 44px;
    width: 79.77506%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: -23px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
}

body {
    font-family: lato;
    background-image:url("../img/Background.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#Main {
    float: none;
    height: 1280px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 85.25%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 9px 17px 0px;
    max-width: 870px;
    margin-right: auto;
}

#Header {
    float: none;
    height: 90px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    margin-right: auto;
    background-image:url("../img/Header.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
}

#Nav {
    float: right;
    height: auto;
    margin: 20px 25px 10px 0px;
    clear: right;
    width: auto;
}

#Title {
    float: none;
    height: 170px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    background-color: rgb(238, 176, 28);
    box-shadow: rgb(166, 166, 166) 0px 5px 5px 0px;
    margin-right: auto;
    min-width: 0px;
}

#Content {
    float: none;
    height: 250px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    min-width: 0px;
    background-image:url("img/partner.png");
    background-attachment: scroll;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#Partners2 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    margin-right: auto;
}

